<!DOCTYPE html>
<html lang="en">


<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    {% block head_title %}
    {% endblock %}
</head>

<div class="message" onclick="style.display='none'">
  {% if messages %}
        {% for message in messages %}
            <div class="message{{ message.tags }}">{{ message }}
            <div class="liltext">Click on to close</div>
            </div>
        {% endfor %}
    {% endif %}
</div>


<body class="body">
    <header>
        <nav>
            <span><a href="/"><img class="logo" src="{% static 'pics/logo2.png' %}"></a></span>

            <form class="srch" action="{% url 'search' %}" method="GET">
            <input class="srchlogo" type="image" src="{% static 'pics/searchlogo.png' %}" alt="submit">
            <input class="srchfield" name="searchdata" id="searchdata" type="search">
            </form>

            <span class="iconwithcont">
                <img class="usericon" src="{% static 'pics/sunbathing.png' %}">
                <div class="usericoncont">
                {% if user.id == null %}
                 <a class="loginlogo" href="/login/">login</a>
                {% else %}
                <a class="userplogo" href="/userpage/{{ user.id }}">your page</a>
                <a class="logoutlogo" href="/logout/">logout</a>
                {% endif %}
                </div>
            </span>
        </nav>
    </header>

    {% block body %}
    {% endblock %}


</body>

    {% block pagination %}
    {% endblock %}

    <footer>
        <div class="footer">
        <div><a href="https://www.flaticon.com/free-icons/parrot" title="parrot icons">Parrot icons created by kosonicon - Flaticon</a></div>
        <div><a href="https://www.flaticon.com/free-icons/chill" title="chill icons">Chill icons created by Freepik - Flaticon</a></div>
        <div><a href="https://www.flaticon.com/free-icons/search" title="search icons">Search icons created by Freepik - Flaticon</a></div>
        </div>
    </footer>
</html>