{% extends 'base.html' %}

{% block head_title %}
    <title>tropic_starter</title>
{% endblock %}



{% block body %}
{% load static %}

<section class="homepagebutts">
        <div><a href="/addpost/"><button class="addpostbutton">Add a post!</button></a></div>
    <br>
    <br>
    <br>
        <div><a href="/registration/"><button class="regbuttonH">Register</button></a></div>
    <br>
        {% if user.id == null %}
            <div><a href="/login/"><button class="loginbuttonH">Log in</button></a></div>
        {% endif %}
</section>

<section>
    {% for post in postspage %}
        <div class="wholepost">
            <div class="posttitle"><a class="posttitle" href="/post/{{ post.id }}">{{ post.title }}</a></div>
            <div class="postcontent">{{ post.content}}</div>
            <div class="postauthor">Post from: <a href="/userpage/{{ post.author.id }}">{{ post.author}}</a></div>
            <div class="postdatetime">Posted on: {{ post.datetime}}</div>
            <hr>
            <br>
        </div>
    {% endfor %}
</section>

{% endblock %}

{% block pagination %}
    <div class="pagination">
      <span>
        {% if postspage.has_previous %}
          <a href="?pgnum={{ postspage.previous_page_number }}">Previous</a>
        {% endif %}
        <span>
          Page {{ postspage.number }} of {{ postspage.paginator.num_pages }}.
        </span>
        {% if postspage.has_next %}
          <a href="?pgnum={{ postspage.next_page_number }}">Next</a>
        {% endif %}
      </span>
    </div>
{% endblock %}




