{% extends 'base.html' %}

{% block head_title %}
    <title>Page of {{ user.username }}</title>
{% endblock %}


{% block body %}
<section class="homepagebutts">
        <div><a href="/addpost/"><button class="addpostbutton">Add a post!</button></a></div>
</section>

<section>
    <h1 class="srchres">Page of {{ user.username }}</h1>
    {% for post in userpostspage %}
    <div class="wholepost">
        <div class="posttitle"><a class="posttitle" href="/post/{{ post.id }}">{{ post.title }}</a></div>
        {% if post.post_pic %}
            <img class="postpic" src="{{ post.post_pic.url }}">
        {% endif %}
        <div class="postcontent">{{ post.content }}</div>
        <div class="postauthor">Post from: <a href="/userpage/{{ post.author.id }}">{{ post.author}}</a></div>
        <div class="postdatetime">Posted on: {{ post.datetime }}</div>
    </div>
    {% endfor %}
</section>

{% endblock %}

{% block pagination %}
<div class="pagination">
  <span>
    {% if userpostspage.has_previous %}
      <a href="?pgnum={{ userpostspage.previous_page_number }}">Previous</a>
    {% endif %}
    <span>
      Page {{ userpostspage.number }} of {{ userpostspage.paginator.num_pages }}.
    </span>
    {% if userpostspage.has_next %}
      <a href="?pgnum={{ userpostspage.next_page_number }}">Next</a>
    {% endif %}
  </span>
</div>
{% endblock %}