{% extends 'base.html' %}

{% block head_title %}
    <title>Page of {{ user.username }}</title>
{% endblock %}


{% block body %}

<section>
    {% for post in userpostspage %}
    <div class="wholepost">
        <div class="posttitle"><a href="/post/{{ post.id }}">{{ post.title }}</a></div>
        <div class="postcontent">{{ post.content }}</div>
        <div class="postauthor">Post from: <a href="/userpage/{{ post.author.id }}">{{ post.author}}</a></div>
        <div class="postdatetime">Posted on: {{ post.datetime }}</div>
        <hr>
        <br>
    </div>
    {% endfor %}
</section>

{% endblock %}

{% block pagination %}
<div class="pagination">
  <span>
    {% if userpostspage.has_previous %}
      <a href="?pgnum={{ userpostspage.previous_page_number }}">Previous</a>
    {% endif %}
    <span>
      Page {{ userpostspage.number }} of {{ userpostspage.paginator.num_pages }}.
    </span>
    {% if userpostspage.has_next %}
      <a href="?pgnum={{ userpostspage.next_page_number }}">Next</a>
    {% endif %}
  </span>
</div>
{% endblock %}